/.idea/codeStyles/codeStyleConfig.xml
/.idea/coursera-test.iml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_27_10_2022_15_09_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_27_10_2022_15_09__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
